{% include header.html %}

<div class="sub-container container-fluid">
    <div class="row">
        <div class="cell cell-lg">
            {{ content }}
            <div id="loader">
                <div class="spin-container">
                    <div class="spinner">
                        <!--<h2>Loading</h2>-->
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            {% if page.skinny == 1 %}
            <div class="row ajax-content">
                <div class="col-xs-12 col-sm-4" id="list-of-talks-1">
                </div>
                <div class="col-xs-12 col-sm-4" id="list-of-talks-2">
                </div>
                <div class="col-xs-12 col-sm-4" id="list-of-talks-3">
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% if page.skinny == 0 %}
<div class="container-fluid">
    <div class="row-fluid ajax-content">
        <div class="col-xs-12 col-sm-4" id="list-of-talks-1">
        </div>
        <div class="col-xs-12 col-sm-4" id="list-of-talks-2">
        </div>
        <div class="col-xs-12 col-sm-4" id="list-of-talks-3">
        </div>
    </div>
</div>
{% endif %}

{% include footer.html %}